footer{
    background-image: url('../images/wave(4).svg');
    background-size: cover;
    background-position: 75% 0%;
    height: 300px;
    font-family: Thasadith;
    font-size: 1.2rem;
  }
  
  .footer h5 {
    bottom: 0; 
    margin-bottom: 0; 
  }