body #root{
    background-color: #ffeef6;
}

main{
    font-family: NTR, Thasadith, sans-serif;
}

h1{
    font-family: Thasadith, sans-serif;
    font-weight: bold;
}



p{
    font-family: NTR, sans-serif;
}

